<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="head_panel panel clearfix">
      <div class="large-4 columns">
        {{#link-to 'index'}}
          <img src="assets/img/SCSR-Logo-New_500x606.jpg" alt="SCSR logo" class="center margin-bottom" />
        {{/link-to}}
        <p class="header-content no-margin-bottom"><strong>South Carolina Sheltie Rescue</strong> is a non-profit group comprised of volunteers who donate their time, abilities, and homes to help displaced, abandoned, and abused Shelties find a forever home.</p>
      </div>
      <div class="large-8 columns show-for-large-up">
        {{main-intro-header-picture-slider}}
      </div>
    </div>
  </div>
</div>