<div class="row panel head-panel">
  <div class="col l4">
    {{#link-to 'index'}}
      <img src="assets/img/SCSR-Logo-New_500x606.jpg" alt="SCSR logo" class="center margin-bottom" />
    {{/link-to}}
    <p class="header-content no-margin-bottom"><strong>South Carolina Sheltie Rescue</strong> is a non-profit group comprised of volunteers who donate their time, abilities, and homes to help displaced, abandoned, and abused Shelties find a forever home.</p>
  </div>
  <div class="col l8 hide-on-med-and-down">
    {{main-intro-header-picture-slider}}
  </div>
</div>
