{{#md-card title="Upcoming Events" id="upcoming-events-card"}}
  {{#md-card-content}}
    <ul class="upcoming-events-list">
      <li><em>Please check back for upcoming events!</em></li>
    </ul>
  {{/md-card-content}}
{{/md-card}}
{{#md-card title="Recent Donations" id="recent-donations-card"}}
  {{#md-card-content}}
    <ul class="recent-donations">
      <li><em>The Perry Family</em></li>
      <li><em>Pam H.</em></li>
      <li><em>Betty &amp; Rudy J.</em></li>
      <li><em>Linda K.</em></li>
      <li><em>Ian &amp; Anita S.</em></li>
      <li><em>Dwight &amp; Donna M.</em></li>
      <li><em>Cynthia S.</em> <small>(in memory of Bunker Marshall)</small></li>
    </ul>
  {{/md-card-content}}
{{/md-card}}