<ul class="main-content-slider" data-orbit data-options="animation: slide; timer_speed: 5000; animation_speed: 500; stack_on_small: false; slide_number: true; navigation_arrows: true; swipe: true;">
  <li data-orbit-slide="headline-1">
    <div>
      <h2>Upcoming Events</h2>
      <ul class="upcoming-events-list">
        <li><em>Please check back for upcoming events!</em></li>
      </ul>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h2>Recent Donations - Thank You!</h2>
      <ul class="recent-donations">
        <li><em>The Perry Family</em></li>
        <li><em>Pam H.</em></li>
        <li><em>Betty & Rudy J.</em></li>
        <li><em>Linda K.</em></li>
        <li><em>Ian & Anita S.</em></li>
        <li><em>Dwight & Donna M.</em></li>
        <li><em>Cynthia S.</em> <small>(in memory of Bunker Marshall)</small></li>
      </ul>
    </div>
  </li>
</ul>