{{#slick-carousel class="main-header-picture-slider" autoplay=true autoplaySpeed=2500 slidesToShow=1 slidesToScroll=1 dots=true fade=true}}
  <div><img src="assets/img/tara_667x500.jpg" alt="Slide 1" /></div>
  <div><img src="assets/img/moxie_667x500.jpg" alt="Slide 2" /></div>
  <div><img src="assets/img/copper_667x500.jpg" alt="Slide 3" /></div>
  <div><img src="assets/img/dixie_rose_667x500.jpg" alt="Slide 4" /></div>
  <div><img src="assets/img/spencer_667x500.jpg" alt="Slide 5" /></div>
  <div><img src="assets/img/penney_667x500.jpg" alt="Slide 6" /></div>
  <div><img src="assets/img/maggie_667x500.jpg" alt="Slide 7" /></div>
{{/slick-carousel}}