<footer class="page-footer light-blue">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <section id="social-media" class="social-media">
          <a href="http://www.petfinder.com/pet-search?shelterid=SC92" class="white-text" target="_blank">
            <span class="icon-bone"></span><span class="visuallyhidden">Petfinder</span>
          </a>
          <a href="https://www.facebook.com/SouthCarolinaSheltieRescue" class="white-text" target="_blank">
            <span class="icon-facebook"></span><span class="visuallyhidden">Facebook</span>
          </a>
          <a href="https://twitter.com/scsheltierescue" class="white-text" target="_blank">
            <span class="icon-twitter"></span><span class="visuallyhidden">Twitter</span>
          </a>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <section id="address" class="address">
          <p class="white-text">
            <span class="name">SC Sheltie Rescue</span><br/>
            <span class="po-box">P.O. Box 11414</span><br/>
            <span class="city-state-zip">Columbia, SC 29211</span><br/>
            <span class="tel"><a href="tel:+1-803-920-0644" class="white-text">803.920.0644</a></span>
          </p>
        </section>
      </div>
    </div>
  </div>

  {{#md-copyright text='SC Sheltie Rescue' startYear=2005 class='light-blue darken-2 white-text'}}
    {{md-btn text='Donate'
        icon='mdi-action-favorite'
        action='debug'
        class='deep-purple darken-3 right'}}
  {{/md-copyright}}
</footer>