// 1. Global
// ---------

$white: #fefefe;
$topbar-bg-color: #333;

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrow-color: $white;

// 37. Top Bar
// -----------

$topbar-background: $topbar-bg-color;
$topbar-submenu-background: $topbar-background;
