// @import "components/color";
// @import "components/variables";

// Custom color settings go here
//$primary-color: color("pink", "lighten-2");

@import "materialize";
@import "ember-cli-materialize";
//@import "normalize";
@import "functions";
@import "icon-fonts";
@import "helpers";
@import "loader";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$oil            : #333333;
$topbar-bg-color: $oil;
$body-bg-color  : #fcfcfc;

html,
body,
.ember-application > .ember-view:first-of-type {
  height: 100%;
}

body {
  background-color: $body-bg-color;
}

select,
textarea {
  margin-bottom: rem-calc(16);
}

img {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: rem-calc(16 0);
  padding: 0;
}

dd {
  margin: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.browsehappy-alert {
  text-align: center;
  padding: .875rem 0;
  // background-color: #008CBA;
  // border-color: #0078a0;
  color: #FFF;
}

.center {
  display: block;
  margin: 0 auto;
}

.paypal-donate {
  text-align: center;
  margin: 0;
}

.loading_spinner {
  width: rem-calc(100);
  height: rem-calc(100);
  margin: 0 auto;
}

.pad-left {
  padding-left: rem-calc(40);
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: rem-calc(20);
}

.margin-top {
  margin-top: rem-calc(20);
}

.text-center {
  text-align: center;
}

.paypal-donate-card .panel {
  border: none;
}

.paypal-donate-card {
  background-color: #FF8700;
}

.alert-box > p {
  margin-bottom: 0;
}

.alert-box.alert a {
  color: indigo;
}

.alert-box.warning {
  background-color: #f08a24;
  border-color: #de770f;
  color: #FFF;
}

.articles-list a {
  display: block;
  padding: 20px;
}

.articles-list a:hover,
.articles-list a:focus {
  background-color: #81d4fa;
  color: white;
}

// label.required:after {
//   content: " *";
//   color: $alert-color;
// }

main.container {
  width: 90%;
}

footer.page-footer,
header,
main.container {
  padding-left: 240px;
}

.page-side-nav li {
  transition: background-color 100ms ease-out;
  a {
    transition: color 100ms ease-out;
  }
}

.page-side-nav li.active {
  background-color: #03a9f4;
  a {
    color: white;
  }
}

.page-side-nav li:not(.active):hover,
.page-side-nav li:not(.active):focus {
  background-color: #81d4fa;
  a {
    color: white;
  }
}

nav .brand-logo {
  white-space: nowrap;
  padding-left: 20px;
}

// nav.breadcrumbs {
//   background-color: #4527a0 !important;
//   li {
//     display: inline;
//     color: white;
//     &:not(:last-of-type):after {
//       content: ' / ';
//     }
//   }
// }

.head-panel {
  margin-top: rem-calc(16px);
}

.panel {
  border: 1px solid #d8d8d8;
  padding: 1.25rem;
  dt {
    font-size: rem-calc(20px);
    font-weight: 700;
    margin-bottom: rem-calc(5px);
  }
  dd:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

// .flexbox-container-center {
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;

//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   -webkit-box-align: center;

//   align-items: center;
// }

.button, button {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  background-color: #03a9f4;
  //border-color: #007095;
  color: #FFF;
  transition: background-color 300ms ease-out;
}

.button:focus, .button:hover, button:focus, button:hover {
  background-color: #0277bd;
}

.button.expand, button.expand  {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.button.large, button.large {
  padding: 1.125rem 2.25rem 1.1875rem;
  font-size: 1.25rem;
}

input[type=radio] {
  &:hover {
    cursor: pointer;
  }
  + label {
  display: inline;
  }
}

div.error > input[type=radio] {
  margin-bottom: rem-calc(16);
}

.pet-box {
  padding: 10px;
  margin: 3px 3px 20px;
  .options {
    text-align: center;
  }
  .option {
    display: inline;
    &:not(:last-of-type):after {
      content: " | ";
    }
  }
  .clearing-featured-img {
    float: left;
    margin-right: rem-calc(16);
  }
  a.th {
    max-width: rem-calc(300);
    display: inline-block;
    border: 4px solid #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    line-height: 0;
    transition: all 200ms ease-out;
  }
}

.pet-name {
  text-align: center;
  text-transform: uppercase;
  > span {
    font: {
      size: rem-calc(48);
      weight: 700;
    }
    margin-bottom: 0;
  }
}

.upcoming-events-list > li,
.recent-donations > li {
  list-style: none;
}

.social-media {
  font-size: 50px;
  a {
    transition: color 300ms ease-out;
  }
  a:not(:last-of-type) {
    margin-right: rem-calc(16);
  }
  a:hover,
  a:focus {
    color: #0277bd !important;
  }
}

.tel a {
  border-bottom: 1px dashed currentColor;
  &:hover,
  &:focus {
    color: #0277bd !important;
  }
}

.footer-copyright .btn {
  margin-top: 7px;
}

@media only screen and (max-width: 992px) {
  footer.page-footer,
  header,
  main.container {
    padding-left: 0;
  }
}
