<!--[if lte IE 8]>
<div data-alert class="alert-box warning browsehappy-alert">
  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
  <a href="#" class="close">&times;</a>
</div>
<![endif]-->

{{title "SC Sheltie Rescue"}}

<div class="page-wrap">
  {{site-top-bar}}

  {{liquid-outlet}}
</div> {{!-- END div.page-wrap --}}

{{site-footer}}