{{main-intro-header}}

{{main-intro-content-slider}}

<div class="row">
  <div class="col l6">
    <h2 class="headline first">About Us</h2>
    <p>SC Sheltie Rescue is a non-profit group comprised of volunteers who donate their time, abilities, and homes to help displaced, abandoned, and abused Shelties find a forever home. Our main goals are the protection and care of the Shelties already here, the prevention of over-breeding and poor breeding practices, and the education of any Sheltie owner who requests it.</p>
    <p>Our volunteer foster homes work with our SCSR foster Shelties by caring for them, evaluating their temperaments, housetraining them if necessary, and getting them to and from the vet for any necessary medical care.</p>
    <p>Breed rescues exist because the people involved know the breed best --&nbsp;they often consist of past and current breeders, owners of the breed, and trainers. Shelties, like other purebreds, have certain behavioral and genetic traits that can present challenges to those unfamiliar with the breed. That&#39;s why we&#39;re here and why we feel we&#39;re qualified to match our rescued Shelties with the best homes <strong>FOR THEM</strong>.</p>
  </div>
  <div class="col l6">
    <h2 class="headline">Adopting a Rescue Sheltie</h2>
    <p>The first step to adopting from SC Sheltie Rescue is to fill out the {{link-to 'Adoption Application' 'apply-to-adopt'}} in full. Leaving answers blank may result in a delay in processing your application. We do not operate on a first-come, first-served basis. Instead, we aim to place our rescues in the best homes for them based on personality and any behavioral or medical issues that need to be considered. We reserve the right to refuse any applicant.</p>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h2 class="headline">Donations</h2>
    <p>Donations are always needed and welcomed. A vet bill for a Sheltie needing all vaccinations, tests, spay/neuter and <a href="http://www.petmeds.org/pet-adoptions">pet meds</a> can run about $300.00.</p>
    <p>Sometimes, we end up needing to do a dental and bloodwork as well. Blood panels alone cost $115.00. Donations can be sent via Paypal or mailed to: SC Sheltie Rescue, P.O. Box 11414, Columbia, SC 29211.</p>
    <p>Also, please check out our <a class="external-link" href="http://www.amazon.com/gp/registry/giftlist/3UK24WGE6GM8D" target="_blank">Wishlist<span class="icon-new-tab"></span></a> for other great ways to help make a difference!</p>
  </div>
  <div class="col s12">
    {{paypal-donate-callout}}
  </div>
</div>