<style>
  .not-found-page {
    margin: 100px 0;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="not-found-page flex-center">
  <div class="not-found-page-text">
    <h1 class="flex-center">Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </div>
</div>

<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
